.text-viewer
  width: 30vw
  min-height: 60vh
  background: #eee
  background: rgba(220, 220, 220, .8)
  color: #222
  padding: 1em
  margin: 0
  max-width: 30em

.readymade-choice-clickable
  color: white
  font-size: 1em
  
.highlight
  color: black
  background: #ddd
  
  &.complete
    opacity: 0.6
  
.business
  background: orangered

.health
  background: yellow

.action
  background: cornflowerblue

