.text-viewer
  text-align: left
  background: #eee
  background: rgba(220, 220, 220, .8)
  color: #222
  padding: 1em
  
.highlight
  color: black
  background: #ddd
  
.business
  background: orangered

.health
  background: yellow

.action
  background: cornflowerblue
  