.readymade-subject-viewer-container
  display: flex
  
  .readymade-subject-viewer
    flex: 4
  
  .comments
    flex: 1
  
.text-viewer
  width: 30vw
  min-height: 60vh
  background: #eee
  background: rgba(256,256,230,0.75)
  color: #222
  padding: 1em
  margin: 0
  max-width: 30em

.readymade-choice-clickable
  color: white
  font-size: 1em
  border: 0

.readymade-choice-label
  text-align: left
  
.highlight
  color: black
  background: #ddd
  
  &.complete
    opacity: 0.6

.annotation
  width: 100%
  text-align: center
  background: #222
  background: rgba(32,32,32,0.75)
  
  ul
    text-align: left
    margin: 0
    padding: 0
    text-indent: 0
    
    li
      margin-bottom: 2px

button[disabled]
  opacity: 0.5

.comments
  ul
    list-style-type: none
    margin: 0
    padding: 0
    text-indent: 0

