.readymade-subject-viewer-container
  
  .readymade-subject-viewer
    width: 55vw
    max-width: 700px
    background: #eee
    background: rgba(256,256,230,0.75)
    
    .drawing-controls
      display: block
      background: #0b517c
      color: #fff
      padding: 0.2em
      
      h2
        text-align: left
        font-size: .9em
        margin: 0.2em 0.3em
      
      .readymade-clickable
        background: rgba(0, 0, 0, 0.1)
        text-decoration: none
        
        &:focus
          border: 1px solid white
        
        &:hover
        &:focus
          background: rgba(0, 0, 0, 0.3)
        
    
    h3
      background: #0b517c
      color: white
      font-size: 1em
      padding: .2em .4em
    
    .image-toggle
      background: #0b517c
      border: 0
      color: white
      float: right
      padding: 0
      border: 0
      border-radius: 1px
      font-size: 1.2em
      
      input[type=checkbox]
        position: absolute
        height: 0
        width: 0
        opacity: 0
      
      span
        background: rgba(0, 0, 0, 0.1)
        padding: .2em .4em
        
        &.active
          background: rgba(0, 0, 0, 0.3)
        

.readymade-decision-tree-container
  padding-left: 0
  padding-right: .5vw

.readymade-marking-surface-container
  display: none
  
  &.active
    display: block
  
  &.image
    .subject-image
      display: block
      text-align: center
    
    .text-viewer
      display: none
  
.text-viewer
  flex: 5
  min-height: 60vh
  color: #222
  max-width: 100%
  margin: 0
  
  div
    padding: 1em

.subject-image
  display: none
  
  img
    width: 100%
    
.text-selection
  background: #0b517c
  color: #fff
  margin: 0
  padding: .5em .2em
  
  button
    float: right
    padding: 0 .2em
    background: rgba(0, 0, 0, 0.1)
    font-size: 1em
    
    &:hover
      background: rgba(0, 0, 0, 0.3)

.readymade-decision-tree-container
  .decision-tree-choice
    display: block
    margin-bottom: .5em
  
    .decision-tree-choices
      margin-top: .5em
    
    input[type=radio]
      position: absolute
      height: 1px
      width: 1px
      opacity: 0
  
      &:checked + span
        background: #0b517c
    
.readymade-choice-clickable
  color: white
  font-size: 1em
  border: 0

.readymade-choice-label
  text-align: center
  
.highlight
  color: black
  background: #ddd
  
  &.complete
    opacity: 0.6

.annotation
  width: 100%
  background: #283f45
  color: #fff
  
  button
    float: right
    padding: 0 .2em
    background: rgba(0, 0, 0, 0.1)
    font-size: 1em
    
    &:hover
      background: rgba(0, 0, 0, 0.3)
  
  ul
    text-align: left
    margin: 0
    padding: 0
    text-indent: 0
    
    li
      margin-bottom: 2px

button[disabled]
  opacity: 0.5
  
.comments
  position: absolute
  background: #222
  background: rgba(32,32,32,0.75)
  min-width: 15em
  max-width: 20em
  padding: 0
  border-radius: 6px
  text-align: left
  z-index: 5
  
  h4
    text-align: center
  
  ul
    list-style-type: none
    margin: 0
    padding: 1em
    text-indent: 0
  
  textarea
    width: 100%
  
  button
    margin: 0
    width: 100%
    
  form
    margin: 0

.reports

  ul
    list-style-type: none
    margin: 1em 0 0
    padding: 0
    text-indent: 0
    color: white

  li
    display: inline-block
    width: 20%

  a
    color: white
    text-decoration: none
    padding: 1em
    margin-right: 1em
    margin-bottom: .5em
    border-radius: 5px
    display: inline-block
    width: 80%
    vertical-align: middle
    text-align: left
    color: #fff
    background: #000
    background: rgba( 0, 0, 0, .5)
    border: 1px solid transparent

    &:hover
    &:focus
      background: #000

.column
  background: #fff
  background: rgba(255, 255, 255, .8)
  padding: 1em

#profile

  .item
    width: 240px
    height: 240px
    display: inline-block
    text-align: center
    vertical-align: middle
  
    a
      display: inline-block
      background: #000
      background: rgba( 0, 0, 0, .2)
      border: 1px solid transparent
      border-radius: 5px
      padding: 1em
      width: 200px
      height: 200px
    
      &:hover
      &:focus
        background: #000
  
      img
        max-height: 200px
        max-width: 200px
        position: relative
        top: 50%
        transform: translateY(-50%)

.scroll-container
  max-height: 90vh
  overflow: scroll
  position: relative
  
.decision-tree-task
.readymade-classification-summary
.task-instructions
.annotation-summary
  font-size: 0.9em
  padding: .5em
  border-radius: .5em
  background: #333
  background: rgba(255, 255, 255, 0.8)
  margin-bottom: .5em
  
  .major-button
    width: 100%

.annotation-summary
  margin-bottom: 1em
  
  h2
    font-size: 1em
    background: #283f45
    margin-bottom: 0
    padding: .5em
    
    & + p
      margin-top: 0
      text-align: center
      
.readymade-field-guide-container
  position: absolute
  right: 0
  top: 5em
  z-index: 1
  overflow: hidden
  width: 30em
  min-height: 60vh
  transition: width 1s
  
  .readymade-field-guide
    position: relative
    right: 0
    width: 28em
  
  &[aria-hidden=true]
    display: block
    width: 0

.main-footer
  background: #0b517c
  color: #fff
  
  .site-map-section
    h6
      color: #999

