.readymade-field-guide
  display: flex
  flex-direction: column
  margin: 2em 0
  text-align: left

.readymade-field-guide-tabs
  align-items: flex-end
  display: flex

  [role=tab]
    @extends #_RESET_BUTTON
    background: rgba(white, 0.7)
    flex: 1 0 auto
    font-weight: bold

    &[aria-selected=true]
      background: white
      border-radius: 3px 3px 0 0
      padding-top: 5px

.readymade-field-guide-pages
  background: white

.readymade-field-guide-page
  padding-bottom: 2em

.readymade-field-guide-content:not(:empty)
  margin: 1em 3vw

.readymade-field-guide-examples
  display: flex
  flex-wrap: wrap

  &:not(:empty)
    margin: 1em 3vw

.readymade-field-guide-example
  flex: 1
  text-align: center

  &:not(:first-child)
    margin-left: 1.5vw

.readymade-field-guide
  padding: .5em
  background: white
  color: black

  .readymade-field-guide-pages
    background: transparent
    color: black
  
    img
      max-width: 300px

    ul
      margin: auto 0
      text-indent: 0
      padding: 0
      list-style-type: none
  
  [role=tab] + span
    background: transparent
    color: white
  
  .readymade-field-guide-examples
    display: flex
    flex-direction: column

  .readymade-field-guide-example:not(:first-child)
    margin-left: 0
    margin-top: 1vw

  dl
    dt
      font-weight: bold
    dd
      padding-left: 1em
      margin-left: 0
