.readymade-site-header
  padding: 20px 5vw 0
  background: #000
  background: rgba( 0, 0, 0, 0.5)

  .readymade-project-title
    font-size: 36px
    font-weight: 100
    letter-spacing: 2px
    text-transform: uppercase
    transition: font-size 0.5s

  .readymade-site-links
    display: inline-block
    line-height: 1
    margin-left: 1em

  .readymade-site-link
    border-radius: 3px
    color: inherit
    display: inline-block
    font-size: 12px
    font-weight: bold
    letter-spacing: 2px
    padding: 0.5em 1em
    text-decoration: none
    text-transform: uppercase

    &:hover
    &:focus
      background: rgba(white, 0.25)

    &[aria-selected=true]
      background: rgba(white, 0.5)

[role=navigation]
  list-style-type: none
  padding: 0

  li
    display: inline
    text-indent: 0
    margin: 0
    padding: 0

#user-status
  position: absolute
  top: 0
  right: 2em