[data-location-hash="#/"]:not(.isMobileSafari)
  #main-container
    min-height: 90vh

  #main-content
    justify-content: flex-end

.readymade-home-page
  text-align: center
  
  .readymade-project-producer
    border-bottom: 1px solid
    font-size: 12px
    font-weight: bold
    letter-spacing: 2px
    padding-bottom: 1px
    text-transform: uppercase

    &:empty
      display: none
  
  h1
    border-bottom: 1px solid
  
  .readymade-creator
    display: inline-block
    line-height: 2

    a
      color: inherit
      text-decoration: none
      
  .readymade-project-summary
    font-size: 30px
    font-weight: 100
    line-height: 2
  
  .readymade-project-description
    margin-top: 6em

  .readymade-footer
    margin-top: 1em
    text-align: center

  .readymade-call-to-action
    background: rgba(white, 0.9)
    border-radius: 0.25em
    box-shadow: 0 5px 5px -5px
    color: black
    display: inline-block
    font-size: 24px
    font-weight: bold
    line-height: 1
    margin: 0 5px
    padding: 0.5em 1.5em
    text-decoration: none
    text-shadow: none

    &:hover
      background: white

.zooniverse-footer
  background: rgba(black, 0.5)
  border-radius: 5px
  margin-top: 5em
  padding: 2em 1em
