@require 'nib'
@require "./common"
@require "./layout"
@require "./header"
@require "./home-page"
@require "./classify-page"
@require "./subject-viewer"
@require "./decision-tree"
@require "./classification-summary"
@require "./field-guide"
@require "./choice"
@require "./filter-dropdown"
@require "./profile"
@require "./team-page"
@require "./mini-tutorial"
@require "./panoptes/main"
@require "./annotations"
