@require "./common"

@require "./typography"
@require "./layout"

@require './tables'
@require './buttons'
@require "./forms"
@require './avatars'
@require "./tabbed-content"
@require "./nav-list"
@require "./dialog"
@require "./tooltip"
@require './project-roles'


.account-bar

  .account-info
    padding-bottom: 1.25em

    .avatar
      height: calc(1em + 1.5vw)
      margin: -4em 0 -3.7em -0.3em
      vertical-align: middle
      width: calc(1em + 1.5vw)

    .display-name
      color: white
      margin-right: 1.4em

    .message-link
      margin-left: 1.4em

    a
      color: white

  .account-menu
    background: FOREGROUND
    border-radius: 4px
    opacity: 0
    display: flex
    transition: opacity 0.25s ease-out
    flex-direction: column
    font-size: 14px
    padding: 1.5em
    pointer-events: none
    position: absolute
    right: 2em
    white-space: no-wrap

    &:before
      border: solid
      border-color: FOREGROUND transparent
      border-width: 0 0.6em 0.6em 0.6em
      top: -0.55em
      content: ""
      display: block
      left: 70%
      position: absolute

    a
      color: white

    .sign-out-button
      text-align: left

  &:hover
    .account-menu
      opacity: 1
      pointer-events: auto
  
  .account-menu[aria-hidden=false]
    opacity: 1
    pointer-events: auto

